.logo-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo span.logo-lg {
    display: flex;
}

.sidenav-menu, .topbar-menu {
    background-color: #F8F7F0 !important;
}

.footer {
    background-color: #F8F7F0 !important;
    border: none;
}

.logo-lg img {
    width: 80px !important;
    height: 80px !important;
}